source https://www.nuget.org/api/v2
storage:none

clitool dotnet-fable
nuget Fable.Core
nuget Fable.Import.Node
nuget Fable.Import.Browser
nuget Fable.PowerPack
nuget FSharp.Core

github fable-compiler/ts2fable-exports VSCode.fs

git https://github.com/fsprojects/Mechanic.git master build:"build.cmd Release", OS: windows
git https://github.com/fsprojects/Mechanic.git master build:"build.sh --use-mono -- Release", OS: mono

group build
    source https://www.nuget.org/api/v2

    github fsharp/FAKE modules/Octokit/Octokit.fsx

    nuget Fake
